ion-title {
    opacity: 0.8 !important;
  }

  ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color: var(--ion-color-tertiary);
      font-weight: bold;
    }
    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }

    ion-col:first-child {
      max-width: 30px;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }